/* ----------- especificaçôes do html ---------*/
html{
        
    overflow-y: auto;
}
.grid{
    display: grid;
    
}

header{
    border: 2px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}


body{
    background-color: rgba(0, 0, 0, 0.89);
   
}

/*---------- construção do menu ------------*/
.menu {
    font-family: 'Lucida Sans', sans-serif;
    grid-column-start: 17;
    grid-column-end: 21;
    justify-content: right;
    gap: 60px;
    border: 2px;
    padding: 20px;
    float: right;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
    
}
a,a:link{
    text-decoration: none;
    padding: 8px 17px;
    border: solid 0;
    color: #f1f1f1;


}
a:hover{
    background-color:#f1f1f1;
    color: #D93D3D;

}


/* ----------- styles dos titulos e paragrafos -------------*/
.text{
    margin: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #BCB8B9;

}
.titulo{
    font-size: 26px ;
    text-align: left;
    color: #D93D3D ;
    margin: 90px ;
    font-family: 'Lucida Sans', sans-serif;
    
}

/*--------- Construção do formulario ----------*/

.formulario {

    max-width: 400px;
    margin: auto;
    background: rgb(255, 254, 254);
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
}    
.label { 
    float: left; 
    width: 100%; 
    margin-bottom: 25px; 
    position: relative;

}
.input-bordas{

    font: 15px 24px "Lato", Arial, sans-serif; 
    color: #b1b1b1; 
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
    border: 1px solid #ccc; 
    padding: 7px 14px 9px; 
    

}
.button-form { 

    background-color: #D93D3D;
    padding: 0.5em 1em;
    color: #fff;
    font-size: 1.2em;
    border: none;
    cursor: pointer;

}
/*--------- especificações do footer --------*/
footer{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f1f1f1;
}

   